.hero {
    min-height: 60vh;
    background-color: $white;
    color: $primary;
    padding: 100px 0;

    h1 {
        color: $primary;
        font-size: 3.5rem;
    }

    p {
        color: $primary-dark;
    }
}