body {
    font-family: $font-main;
    background-color: $bg-light;
    padding-top: 70px; // Evita que el navbar fijo tape el contenido
}

// Animación de entrada para el login
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}