$primary: #0198d8;
$primary-hover: #017bb5;
$primary-dark: #005a82;
$secondary-dark: #1f4364; // El azul oscuro del logo
$bg-light: #f4f9fc;
$white: #ffffff;
$border-color: #eee;
$font-main: 'Inter', sans-serif;